.hero-section {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: 15px;
  gap: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
